In [ ]:
from random import randint

lista = list()

# Gerar 250 números aleatórios entre 1 e 1000
for c in range(250):
    numeros = randint(1, 1000)
    lista.append(numeros)

# Inverter a lista
lista.reverse()

# Imprimir o resultado
print("Lista invertida:", lista)

Lista invertida: [624, 715, 552, 243, 786, 256, 449, 468, 485, 9, 499, 158, 351, 422, 594, 209, 363, 446, 496, 119, 771, 175, 947, 630, 113, 631, 255, 581, 168, 393, 25, 677, 760, 353, 967, 752, 425, 790, 203, 454, 849, 544, 550, 114, 895, 876, 355, 916, 584, 342, 846, 516, 801, 465, 440, 680, 80, 536, 923, 24, 1, 209, 859, 492, 349, 30, 703, 65, 570, 214, 786, 538, 413, 368, 94, 628, 745, 884, 905, 680, 336, 343, 848, 244, 854, 538, 618, 20, 222, 650, 636, 300, 781, 210, 296, 415, 699, 501, 646, 89, 930, 667, 106, 375, 551, 663, 507, 480, 537, 251, 617, 881, 653, 946, 67, 490, 251, 191, 123, 368, 499, 574, 503, 97, 643, 248, 345, 939, 652, 713, 318, 612, 73, 578, 996, 200, 615, 611, 229, 640, 970, 75, 717, 306, 372, 937, 179, 579, 2, 131, 41, 683, 265, 278, 982, 528, 228, 277, 282, 919, 113, 343, 523, 127, 370, 616, 924, 911, 728, 404, 213, 244, 903, 465, 489, 252, 100, 24, 708, 76, 852, 867, 614, 456, 825, 353, 652, 537, 813, 530, 390, 42, 782, 958, 455, 314, 533, 296, 643, 541, 651, 361, 634, 98, 455, 205, 47, 387, 316, 448, 574, 208, 828, 97, 941, 99, 789, 103, 614, 451, 179, 812, 884, 181, 206, 445, 678, 318, 146, 525, 685, 963, 166, 47, 135, 184, 194, 893, 602, 325, 745, 741, 923, 558, 28, 278, 417, 874, 553, 861]

In [ ]:
# Passo 2: Lista de animais
animais = [
    "Cachorro", "Gato", "Papagaio", "Elefante", "Tigre",
    "Girafa", "Rinoceronte", "Coelho", "Lobo", "Urso",
    "Zebra", "Leão", "Tartaruga", "Arara", "Porquinho-da-Índia",
    "Cavalo", "Golfinho", "Jacaré", "Pinguim", "Coruja"
]

# Ordenar em ordem alfabética
animais_ordenados = list()
for animal in sorted(animais):
    animais_ordenados.append(animal)

# Imprimir os animais ordenados
for animal in animais_ordenados:
    print(animal)

# Salvar a lista em um arquivo CSV
with open("animais.csv", "w", encoding="utf-8") as arquivo:
    for animal in animais_ordenados:
        arquivo.write(animal + "\n")

Arara
Cachorro
Cavalo
Coelho
Coruja
Elefante
Gato
Girafa
Golfinho
Jacaré
Leão
Lobo
Papagaio
Pinguim
Porquinho-da-Índia
Rinoceronte
Tartaruga
Tigre
Urso
Zebra

In [ ]:
import random
import names
import time
import os

# Parâmetros
random.seed(40)  # Definir a semente de aleatoriedade
qtd_nomes_unicos = 3000
qtd_nomes_aleatorios = 10000000

# Gerar lista de nomes únicos
nomes_unicos = list()
for _ in range(qtd_nomes_unicos):
    nome = names.get_full_name()
    nomes_unicos.append(nome)

# Gerar a lista completa de nomes aleatórios
dados = list()
for _ in range(qtd_nomes_aleatorios):
    dados.append(random.choice(nomes_unicos))

# Salvar os nomes no arquivo "nomes_aleatorios.txt"
arquivo_saida = "nomes_aleatorios.txt"
with open(arquivo_saida, "w", encoding="utf-8") as arquivo:
    for nome in dados:
        arquivo.write(nome + "\n")

In [ ]:
# Abrir o arquivo e verificar o conteúdo
with open("nomes_aleatorios.txt", "r", encoding="utf-8") as arquivo:
    conteudo = arquivo.readlines()

# Imprimir as primeiras 10 linhas para verificação
print("Primeiras linhas do arquivo:")
for i in range(10):
    print(conteudo[i].strip())

Primeiras linhas do arquivo:
Frances Bennet
Jamie Russell
Edward Kistler
Sheila Maurer
Donald Golightly
David Gray
Joy Bennett
Paul Kriese
Berniece Ornellas
Brian Farrell